.login-button {
  width: 250px;
  height: 4vh;
  border: none;
  border-radius: 20px;
  background: #1D3557;

  outline: none;
  color: #f1faee;
  cursor: pointer;

  transition: background .3s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .login-button {
    width: 140px;
  }
}
  
.login-button:hover{
  background: #e63946;
}
