.Home-authenticated {
  min-height: 100vh;
  background-color: #f1faee;

  display: flex;
  flex-direction: column;

  font-size: calc(10px + 1vmin);
}

.header {
  min-width: 90vw;
  min-height: 12vh;
  background: #1D3557;
  box-shadow: 0px 1px 5px 0px rgba(17,32,52,1);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  color: #f1faee;
}

.header-profile {
  height: 100%;
}

.user-picture {
  width: 50px;
  border-radius: 100%;

  margin: 0 25px;
}

.header-title {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 60px;

  font-size: 0;
}

.page-title {
  font-weight: 500;
}

.header-logout {
  height: 100%;
}
  
.logout-button {
  width: 100px;
  height: 3.5vh;
  background: #457B9D;
  border: none;
  border-radius: 20px;
  
  color: #f1faee;
  outline: none; 
  cursor: pointer;

  transition: background .3s ease-in-out;
}
  
.logout:hover{
  background: #e63946;
}

.dragons-list {
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dragon-card {
  width: 70%;
  height: 120px;
  background: #457B9D;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 0px rgba(49,86,109,1);

  margin: 40px 0;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: #f1faee;

  transition: background .2s ease-in-out;
}

.dragon-card:hover{
  background: #386480;
}

.dragon-card:first-child {
  margin-top: 70px;
}

.dragon-image{
  margin: 0 30px;
}

.dragon-info{ 

}

.dragon-name {
}
